<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/estilos.css">
        <title>Game Drop</title>
    </head>
    <body>    
        <div class="btnRegresar">
            <a href="/">Regresar</a>
        </div>
        <section>
            <div class="form-box">
                <div class="form-value">
                    <form action="/login" method="post">
                        <h2>Iniciar Sesión</h2>
                        <div class="inputbox">
                            <ion-icon name="person-outline"></ion-icon>
                            <input type="text" id="usuario" name="usuario" required>
                            <label for="">Nombre de usuario</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" id="password" name="password" required>
                            <label for="">Password</label>
                        </div>
                        <div class="forget">
                            <label for=""><input type="checkbox">Recordar Usuario <a href="">Forget Password</a> </label>
                        </div>
                        <input type="submit" value="Iniciar" name="iniciar">
                        <div class="register">
                            <p>¿Es la primera ves que usas Game Drop? <a href="/nuevoUsuario">Registrarme</a> </p>
                            
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    </body>
</html>



